<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>EX42 Muharrem Kaya</title>
</head>
<body>
	<div>
		<h1>EX42 M Matthew Kaya - 991585597</h1>
	</div>


	<div class="form-group">
		<form method="post" action="sendInfo" th:object="${appointment}">
			<table class="table table-striped table-dark"
				th:if="${appointmentList != null and !appointmentList.empty}">
				<tr>
					 <th>Appointment Id</th>
					 <th>Appointment Purpose</th>
					 <th>Appointment Date</th>
					 <th>Appointment Person</th>
					 <th>Edit</th>
					 <th>Remove</th>
				</tr>
				<tr>
					<td><input class="form-control" type="hidden" name="id"></td>
					<td><input required class="form-control" type="text"
						name="appointmentPurpose" placeholder="Appointment Purpose"  th:field="*{purpose}"><br></td>
					<td><input required class="form-control" type="datetime-local"
						name="appointmentDate" placeholder="Appointment Date" th:field="*{appointmentDate}"></td>
					<td><input required class="form-control" type="text"
						name="appointmentPerson" placeholder="Appointment Person"  th:field="*{person}"></td>
					<td></td>	
					<td><input class="btn btn-primary" type="submit"
						value="Submit"></td>
				</tr>				
				
				<tr th:each="a:${appointmentList}">
					<td th:text="${a.id}">24</td>
					<td th:text="${a.purpose}">Visit</td>
					<td th:text="${a.appointmentDate}">01.01.2008T10:00:00</td>
					<td th:text="${a.person}">Matthew Kaya</td>
					<td><button class="btn btn-success" name="Edit">Edit</button></td>
					<td><button class="btn btn-danger" name="Remove">Remove</button></td>
				</tr>


			</table>
		</form>
	</div>

</body>
</html>